@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


body {
    font-family: "Raleway", "sans-serif";
    

}

/* set color variables */
:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #D9D9D9;
    --light-grey: #F2F2F2;
    --white: white;
    --red: red;
}

a { 
    text-decoration: none;
    color: black;
}



main,
header,
footer {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}




/* NAVIGATION MENU */

header img {
    min-width: 100px;
    width: 8%;
    margin-top: 15px;
    
  }
  
  header {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    
  }
  
  header nav{
    display: inline;

  }


  header ul {
    display: flex; 
    list-style-type: none;
    
  }
  
  header ul li {
    margin-right: 40px;
  }

  
  header .border-blue{
    padding: 16px;
  }
  
  header .border-blue:hover{
    border-top: solid 3px #0065fc;
    color: #0065fc;
    padding: 16px;
  }



/* SEARCH BAR */

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 49px;
    margin-top: 35px;
}

.geoicon {
    color: black;
    background-color: #F2F2F2;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;





}

.searchbar_txt {
    font-weight: bold;
    border: 0;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-size: 16px;


}

.searchbar_button {
    background: var(--blue);
    color: white;
    font-weight: bold;
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}


.fa-solid.fa-magnifying-glass {                /* Faire disparaitre l'icone de loupe en Desktop*/
    display: none;
   
}






/*FILTERS*/



.filters {
    display: inline-flex;
    padding-top: 18px;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
}

.filters h3 {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.btn-filter p {
    margin: 0;
    padding-right: 20px;
    cursor: pointer;
}

.btn-filter {
    font-weight: bold;
    border: 2px solid var(--light-grey);
    border-radius: 30px;
    border-left: none;
}

.btn-filter:hover {
    background-color: #DEEBFF;

}




.btn-filter .fa-heart,
.fa-dog,
.fa-fire,
.fa-person,
.fa-money-bill-wave {
    padding: 14px 14px 14px 14px;
    margin-right: 10px;
    color: var(--blue);
    font-size: 20px;
}


.fa-info{
    display: flex;
    color: var(--blue);
    border: 1px solid var(--grey);
    padding: 8px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    justify-content: center;    
 
}



.icon-info{
    display: flex;
    flex-direction: row;
    
}



/*ARTICLES*/



.all-articles {
    display: flex;
    gap: 20px;

}

.all-articles .card {
    border-radius: 16px;
    background-color: var(--light-grey);
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.all-articles h3 {
    padding-left: 20px;
}

.all-articles .hebergements {
    flex-basis: 66%;
}

.all-articles .populaires {
    flex-basis: 33%;
}



/* HEBERGEMENT*/


.hebergements {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0;
    padding: 0 10px 0 10px;
}

.hebergements h3 {
    width: 100%;
}

.hebergements a {
    text-decoration: none;
    color: inherit;
}


.card-hebergement {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.card-hebergement div {
    flex-basis: calc(33% - 40px);
    min-width: 220px;
}

.card {
    background-color: var(--white);
    border-radius: 16px;
    padding: 5px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    flex-grow: 1;
    margin: 0 10px 10px 10px;
    transition: all 0.2s;
}

.card img {
    border-radius: 16px 16px 0 0;
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.card p,
.card h4 {
    margin: 5px
}

.card:hover {
    transform: scale(1.02);

    cursor: pointer;
}

.card .stars {
    margin-top: auto;
}

.fa-chart-line {
    color: var(--blue);
}





/* Popular*/



.populaires {
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
}

.populaires h3 {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.popular-list {
    display: flex;
    flex-direction: column;
}

.card-popular {
    display: flex;
    background-color: var(--white);
    padding: 5px;
    border-radius: 15px;
    min-height: 140px;
    margin: 0 20px 20px 20px;
    min-width: 200px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    transition: all 0.2s;
}

.card-popular:hover {
    transform: scale(1.02);
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
}

.card-popular img {
    object-fit: cover;
    border-radius: 16px 0 0 16px;
    height: 140px;
    min-width: 35%;
    width: 35%;
}

.card-description {
    background-color: var(--white);
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.card-description p,
.card-description h4 {
    margin: 3px;
}

.card-description .stars-margin-top {
    margin-top: auto;
}



/*ACTIVITY*/


.activity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: stretch;
    flex-wrap: wrap;
}


.activity_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 65px;
    padding-bottom: 15px;
    border-radius: 20px 20px 20px 20px;
    transition: all 0.2s;

}

.activity_card h3{
    margin: 3px;
}

.activity_card:hover {
    transform: scale(1.02);
    
    cursor: pointer;
}


.activity_card img {


    object-fit: cover;
    height: 380px;
    width: 297px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px 20px 0px 0px;

}

.activity a {
    text-decoration: none;
    color: inherit;
}




/*def: Couleur des étoiles de notation */


.star-blue,
.star-grey {
    background-color: inherit;
}

.star-blue {
    color: var(--blue);
}

.star-grey {
    color: var(--grey);
}





/*FOOTER */


footer {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 20px;
    background-color: var(--light-grey);
    padding: 30px 0;

}

footer a {
    text-decoration: none;
    color: black;
}

footer h4 {
    margin: 0 0 10px 0;
}

footer p {
    margin: 0;
    margin-bottom: 5px;
}

.footer-left,
.footer-middle,
.footer-right {
    min-width: 30%;
    min-height: 100px;
}




/* 
*       MEDIA QUERIES
*/
@media (max-width: 1024px) {



    /*hébergements*/



    .all-articles {
        flex-direction: column-reverse;
    }

    .all-articles>div {
        background-color: var(--white);
    }

    .popular-list,
    .hebergements {
        display: flex;
        flex-direction: row;
    }

    .card-popular {
        flex-basis: 33%;
    }


    .card .stars {
        margin-top: auto;
    }


    /*Activity */ 

    .activity_card img {


        object-fit: cover;
        height: 200px;
        width: 193px;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
        border-radius: 20px 20px 0px 0px;

    }

    .all-articles>div {
        background-color: var(--light-grey);
    }
}



@media (max-width: 768px) {
    * {
        margin-left: 0px;
    }

    /*menu nav*/
    header {
        display: flex;
        flex-direction: column;
    }


    nav {
        display: block;
        border-top: none;
    }


    header .border-blue:hover{
        border-top: solid 3px transparent;
        color: #0065fc;
        padding: 16px;
        border-bottom:  solid 3px var(--blue);
        width: 100%;
      }

    header a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    








    

    .nav img {
        display: block;
        margin: auto;
        padding-left: 40px;
    }

    .bloc-menu {
        display: flex;
        flex-basis: 100%;
        text-align: center;
        gap: 0px;
    }

    .bloc-menu a {
        flex-basis: 50%;
        text-align: center;
        justify-content: center;
        border-bottom: 3px solid var(--grey);
        
       
        
        
    }

    .bloc-menu a:hover {
        border-top-color: transparent;
        border-bottom-color: var(--blue);
       
    }

    /*Search bar*/



    .fa-solid.fa-magnifying-glass {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--blue);
        font-size: 15px;
        padding: 15px;
        color: white;
        border-radius: 15px;


    }

    .searchbar_button {
        display: none;
    }

    .btn-search span {
        display: none;
    }


    /*filters*/


    .filters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .filters h3 {
        margin: 0;
    }




    /*hébergments*/


    .all-articles {
        flex-direction: column-reverse;
    }

    .hebergements {
        padding: 0;
    }

    .card {
        height: 200px;
        width: 100%;
        margin: 0;
    }

    .card .stars {
        margin-top: auto;
    }

    .card-hebergement {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .all-articles>div {
        background-color: var(--white);
    }


    /*popular*/


    .populaires {
        padding : 0;
        margin: 0;
    
    }

    .popular-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--light-grey);
    }

    .card-popular {
        height: 150px;
        width: 100%;
        margin: 0 0 20px 0;
    }

    .card-popular img {
        height: 150px;
        width: 100px;
    }

    .desc-top {
        margin-bottom: 100%;
    }

    /* Activity */


    .activity {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        
    }
    

    .activity_card img {


        object-fit: cover;
        height: 141px;
        width: 345px;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
        border-radius: 20px 20px 0px 0px;

    }


    /* footer*/
    .footer {
        display: block;
        padding-left: 30px;
        background: var(--grey);
    }

    .footer-left,
    .footer-middle {
        margin-bottom: 25px;
    }
}